<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19shoppingcentre">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Required only if your app isn't using the Device Companion Manager. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_covid_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".tabletSetLimitation"></activity>
        <activity android:name=".tabletStoreControlMain"
            android:parentActivityName=".Store_List"></activity>
        <activity
            android:name=".DashboardMain"
            android:parentActivityName=".StaffMainActivity" />
        <activity
            android:name=".GenerateDailyReportJava"
            android:parentActivityName=".StaffMainActivity"/>
        <activity
            android:name=".StaffRegistration"
            android:parentActivityName=".StaffMainActivity" />
        <activity
            android:name=".PieChartMaleFemale"
            android:parentActivityName=".DashboardMain" />
        <activity android:name=".uploadStorePicture" />
        <activity
            android:name=".storeRegistration"
            android:parentActivityName=".tabletStoreControlMain" />
        <activity android:name=".questionMobile" />
        <activity android:name=".tabletStoreCurrentCust" />
        <activity
            android:name=".tabletStoreLoginVarification"
            android:parentActivityName=".StaffMainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.covid_19shoppingcentre"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".social_distance_score_history"
            android:label="Score History"
             />
        <activity
            android:name=".ViewPlace"
            android:label="Hospital Near Me"
            />
        <activity
            android:name=".distance_tracking"
            android:label="Distance Tracking"
            />
        <activity
            android:name=".nearby_hospital"
            />
        <activity
            android:name=".StaffMainActivity"
            android:label="Staff Main Page" />
        <activity android:name=".CheckInScCustomer_List" />
        <activity android:name=".MemberInformationActivity" />
        <activity
            android:name=".QRScannerActivity"
            android:label="QR Scanner" />
        <activity android:name=".CustomerInformationActivity" />
        <activity android:name=".ReserveStore_List" />
        <activity android:name=".ReserveDate" />
        <activity android:name=".ReserveTime" />
        <activity android:name=".ReserveConfirmationActivity" />
        <activity android:name=".Reservation_List" />
        <activity
            android:name=".ReserveDetailsActivity"
            android:launchMode="singleTop" />
        <activity android:name=".ReserveDetailsPassActivity" />
        <activity android:name=".StaffStoreDetailsActivity" />
        <activity android:name=".Store_List" />
        <activity
            android:name=".MainActivity"
            android:label="MidValley" />
        <activity android:name=".MemberRegister" />
        <activity android:name=".MemberLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QRCodeGenerator" />
        <activity android:name=".BodyTemperature">
        </activity>
        <activity android:name=".QRCodeScanner"></activity>
        <activity android:name=".VisitHistory"></activity>
        <activity android:name=".CustomerRecordSelecting">
        </activity>
        <activity android:name=".member_menu"></activity>
        <activity android:name=".QRScannerCheckOutActivity"/>
        <activity android:name=".CheckOutShoppingActivity"/>
        <activity android:name=".PasswordRecovery1"></activity>
        <activity android:name=".PasswordRecovery2"></activity>
        <activity android:name=".PasswordRecovery3"></activity>

        <service
            android:name=".checkService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".staffService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>